@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.order_wrapper {
  @include wrapper;
}

.form {
  display: grid;
  grid-gap: $item-gap;
}

.inputs {
  display: grid;
  grid-gap: $item-gap;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  display: block;
  font-size: 1.1rem;
}

.subtitle {
  display: block;
  font-weight: normal;
  line-height: 1em;
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list,
.cargos {
  display: grid;
  grid-gap: $item-gap;
}