@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.review_item {
  width: 100%;
  height: 280px;
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  .date {
    font-size: 0.9rem;
    padding: $item-gap 0;
    color: $accent-color;
  }

  .photos {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      @mixin crop($number) {
        &:nth-child(-n + #{$number}),
        &:nth-last-child(-n + #{$number}) {
          display: none;
        }
      }
      width: 50px;
      border-radius: 50%;
      &.reviewer {
        width: 80px;
        box-sizing: border-box;
        border: 4px solid $secondary-color;
      }
      @media screen and (max-width: 700px) {
        @include crop(1);
      }
      @media screen and (max-width: $container-tablet-width) {
        @include crop(2);
      }
    }
  }
}
