@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.about {
  @include section;
  margin-top: 95vh;
  //background: red;
}

.title {
  @include title;
}

.subtitle {
  @include subtitle;
  text-align: center;
  padding-bottom: $item-gap;
}

.content {
  //width: 70%;
  background: #FFF;
  position: relative;
  //height: 450px;
  &:first-child {
    flex-grow: 1;
    background: green;
  }
  &:last-child {
    background: blue;
  }
  .text {
    position: relative;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0) 100%);
  }
}

.row {
  @include wrapper;
  display: flex;

  .quote {
    height: 20vh;
    background: yellow;
    font-size: 1.2rem;
    text-align: center;
    padding: $item-gap * 2;
    //margin: $item-gap auto;
    font-style: italic;
    position: relative;
    &:before {
      content: ',,';
      position: absolute;
      top: -$item-gap * 1.5;
      left: $item-gap;
      font-size: 3rem;
    }
    &:after {
      content: 'first principle';
      position: absolute;
      bottom: 0;
      right: $item-gap / 2;
      font-size: 1.5rem;
      color: #00000015;
    }
  }

  .photo {
    height: 300px;
    @media screen and (max-width: $container-tablet-width) {
      display: none;
    }
  }
}
