@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.payment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2 * $item-gap;
}

.title {
  @include title;
  text-align: left;
  color: $accent-color;
  &:before {
    content: "Price: ";
    color: initial;
    font-size: 1.2rem;
  }
  &:after {
    content: "$";
    color: initial;
    font-size: 1.2rem;
  }
}

.payment_card {
  margin-top: $item-gap;
  padding-right: $item-gap;
  @media screen and (max-width: $container-tablet-width) {
    display: none;
  }
}

.form {
  flex: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: $item-gap;
}

.input {
  height: 50px;
}

.exp_cvc {
  display: flex;
  justify-content: space-between;
  .input:first-child {
    margin-right: $item-gap;
  }
}