@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper_profile {
  @include wrapper;
  margin: $item-gap auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 250px;
  height: auto;
  margin-right: $item-gap;
  position: sticky;
  top: $menu-height + $item-gap * 1.5;
  @media screen and (max-width: $profile-mobile-width) {
    position: static;
    width: 100%;
    margin: 0 0 $item-gap 0;
  }
  .title {
    @include title;
    font-size: 2rem;
  }
  .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 1.2rem;
    color: $disabled-color;
    .subtitle_text {
      width: 100%;
      &:before {
        content: 'aka ';
        font-size: 0.8rem;
      }
    }
  }
  .property {
    width: 100%;
    padding: $item-gap;
    margin-top: $item-gap;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .settings_title {
    display: none;
    @media screen and (max-width: $profile-mobile-width) {
      display: inherit;
    }
  }
  .settings {
    margin-left: auto;
    @media screen and (max-width: $profile-mobile-width) {
      display: none;
    }
  }
}

.orders {
  flex-grow: 1;
  counter-reset: order;
  .title {
    @include title;
    text-align: right;
    font-size: 2rem;
  }
  .empty {
    display: flex;
    align-items: center;
    .smile {
      margin-left: $item-gap / 2;
    }
  }
}
