@import './styles/variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Consolas', monospace;
}

.progress-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  max-width: $container-width;
  margin: 0 auto;
}
