@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.differencies {
  @include section;
}

.wrapper_differencies {
  @include wrapper;

  .title {
    @include title;
    text-align: left;
  }

  .subtitle {
    text-align: left;
    padding-bottom: $item-gap;
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url('../../assets/differencies/delivery.png') no-repeat right center;
    background-size: contain;
  }

  .images {
    display: grid;
    grid-gap: $item-gap;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: $container-tablet-width) {
      width: 100%;
    }
  }

  .opportunity {
    display: flex;
    padding: $item-gap;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 120px;
    .title {
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
      margin: $item-gap / 2 0;
    }
    .image {
      margin: 10px;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &:nth-child(1) .image {
      background-image: url('../../assets/differencies/clock.svg');
      background-size: contain;
    }
    &:nth-child(2) .image {
      background-image: url('../../assets/differencies/cargo.svg');
      background-size: contain;
    }
    &:nth-child(3) .image {
      background-image: url('../../assets/differencies/place.svg');
      background-size: contain;
    }
    &:nth-child(4) .image {
      background-image: url('../../assets/differencies/credit-card.svg');
      background-size: contain;
    }
  }
}
