@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.locations {
  display: grid;
  grid-gap: $item-gap;
  grid-template-columns: repeat(auto-fit, 200px);
  margin: $item-gap 0 2 * $item-gap 0;
}