@import '../../../../styles/variables.scss';

.price {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: $item-gap 0;
  color: $accent-color;
  &:before {
    content: '$';
    font-size: 1.5rem;
    width: 30px;
  }
}
