@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  background-color: $secondary-color;
}

.wrapper_footer {
  @include wrapper;
  color: #fff;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  p {
    margin: 0;
  }

  .logo {
    @include logo;
  }

  .title {
    @include title;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: $item-gap / 2;
    text-align: left;
  }

  .subtitle {
    text-transform: uppercase;
    text-align: left;
    margin: $item-gap 0;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .description,
  .download {
    margin: $item-gap 0;
    width: 220px;
  }

  .links,
  .services,
  .company {
    margin: $item-gap 0;
    padding: 0 $item-gap / 2;
    & > * {
      display: block;
    }
  }

  .badges {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .google,
  .apple {
    width: 100px;
    height: 40px;
  }

  .google {
    background: url("../../assets/badges/google.svg") no-repeat center center;
    background-size: contain;
  }

  .apple {
    background: url("../../assets/badges/apple.svg") no-repeat center center;
    background-size: contain;
  }
}
