@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.order {
  max-width: $default-card-width;
  margin: 0 auto;
  padding: $item-gap;
}

.form {
  display: grid;
  grid-gap: $item-gap;
}

.inputs {
  display: grid;
  grid-gap: $item-gap;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  @include title;
  text-align: left;
}

.list,
.cargos {
  display: grid;
  grid-gap: $item-gap;
}