@import "../../../styles/variables.scss";

.wrapper_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $item-gap / 2 24px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 4px;
}