@import '../variables.scss';

.order {
  width: 400px;
  margin: 0 auto;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: $itemGap / 2;
  &-inputs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .input-label {
      display: block;
    }
  }
  &-from,
  &-to,
  &-vehicle,
  &-cargos {
    width: 100%;
    height: $itemHeight;
    box-sizing: border-box;
  }
}
