@mixin filled {
  border-radius: $border-radius;
  background-color: $disabled-color;
  padding: $item-gap / 2 $item-gap;
}

@mixin section {
  margin: 50px 0;
  box-sizing: border-box;
}

@mixin wrapper {
  max-width: $container-width;
  margin: 0 auto;
  padding: $item-gap / 2 $item-gap;
}

@mixin title {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  @media screen and (max-width: $container-tablet-width) {
    font-size: 1.4rem;
  }
}

@mixin logo($height: 60px) {
  $width: $height * 1.5;
  width: $width;
  height: $height;
  background: url("../assets/logo.svg") no-repeat center center;
  background-size: contain;
  margin-right: $width;
  @media screen and (max-width: $container-mobile-width) {
    margin: 0;
  }
  &:after {
    content: "universal shipping";
    font-size: $height / 3;
    display: flex;
    height: $height;
    line-height: $height / 3;
    align-items: center;
    position: relative;
    left: $width;
    @media screen and (max-width: $container-mobile-width) {
      display: none;
    }
  }
}
