@import './variables.scss';

@mixin section {
  margin: 50px 0;
  box-sizing: border-box;
}

@mixin wrapper {
  max-width: $container-width;
  margin: 0 auto;
  padding: $item-gap / 2 $item-gap;
}

@mixin title {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  @media screen and (max-width: $container-tablet-width) {
    font-size: 1.4rem;
  }
}

@mixin subtitle {
  font-size: 1.6rem;
  line-height: 1.5em;
  @media screen and (max-width: $container-tablet-width) {
    font-size: 1rem;
  }
}

@mixin logo($width: 200px) {
  width: $width;
  height: $width / 4;
  background: url('../assets/logo_full.svg') no-repeat left center;
  background-size: contain;
  @media screen and (max-width: $container-tablet-width) {
    margin: 0;
    background-image: url('../assets/logo.svg');
  }
}

@mixin progress_button {
  margin-right: $item-gap;
}