$font-monospace: Consolas;

$accent-color: #1769aa;
$primary-color: #2196f3;
$secondary-color: #4dabf5;

$disabled-color: #00000022;

$default-card-width: 400px;

$container-width: 900px;
$bar-height: 64px;

$item-gap: 20px;
$item-height: 30px;

$box-shadow: 0 2px 5px 0 #999;
$border-radius: 4px;
