@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.tracker {
  @include section;
}

.wrapper_tracker {
  @include wrapper;

  .title {
    @include title;
  }

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
