@import "../../../../../styles/variables.scss";

.list {
  text-align: right;
}

.list_title {
  background-color: green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .group {
    display: flex;
    flex-wrap: wrap;
    .icon {
      @media screen and (max-width: $container-tablet-width) {
        display: none;
      }
    }
  }
  .routes {
    margin-left: $item-gap / 2;
    flex-grow: 1;
  }
  .time,
  .price {
    margin-left: $item-gap / 2;
    flex-grow: 0;
  }
  .button {
    margin: 0 $item-gap / 2;
    flex-grow: 1;
  }
}

.vehicleTime {
  padding: 0 $item-gap / 2;
  font-style: italic;
  color: $disabled-color;
}
