@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  backdrop-filter: blur(0.8);
}

.layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  box-sizing: border-box;

  .title {
    @include title;
    padding: $item-gap $item-gap $item-gap 10%;
    margin-right: auto;
    font-weight: bold;
    background-color: $accent-color;
    @media screen and (max-width: $container-tablet-width) {
      padding: 0 10%;
      background-color: transparent;
    }
  }

  .subtitle {
    @include subtitle;
    max-width: 600px;
    padding: $item-gap 0 $item-gap 10%;
    margin-right: 10%;
  }

  .button {
    $width: 240px;
    position: absolute;
    bottom: $item-gap;
    left: calc(50% - #{$width / 2});
    width: $width;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: $container-tablet-width) {
      left: 10%;
      width: 80%;
      font-size: inherit;
    }
  }
}

.airplane,
.train,
.truck,
.ship,
.rocket,
.normandy {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

.airplane {
  background-image: url('../../../../assets/index/header/airplane.jpg');
}

.train {
  background-image: url('../../../../assets/index/header/train.jpg');
}

.ship {
  background-image: url('../../../../assets/index/header/ship.jpg');
}

.truck {
  background-image: url('../../../../assets/index/header/truck.jpg');
}

.rocket {
  background-image: url('../../../../assets/index/header/rocket.jpg');
}

.normandy {
  background-image: url('../../../../assets/index/header/normandy.jpg');
}
