@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.tracker {
  @include section;
}

.wrapper_tracker {
  @include wrapper;

  .title {
    @include title;
  }

  .content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
