@import '../../styles/variables.scss';

.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $item-gap;
  &__item {
    border-radius: $border-radius;
    box-shadow: 0 2px 5px 0 #999;
    padding: $item-gap / 2;
    position: relative;
  }
}
